@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sans-serif: 'Inter', sans-serif;

  --color-bg: hsl(220, 20%, 14%);
  --color-text: hsl(0, 0%, 2%);
  --color-highlight: hsl(357, 49%, 48%);
  --color-gray-28: hsl(0, 0%, 28%);
  --color-gray-58: hsl(0, 0%, 58%);
  --color-gray-90: hsl(0, 0%, 90%);

  --font-24: 1.5rem;
  --font-32: 2rem;
  --font-80: 5rem;

  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-16: 1rem;

  --shadow-1: hsla(0, 0%, 0%, 0.1);

  --radius-base: 4px;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-content: center;
  font-family: var(--sans-serif);
  font-weight: 300;
  line-height: 1.4;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.title {
  font-size: var(--font-80);
  font-weight: inherit;
  text-align: center;
  color: var(--color-highlight);
}

.todos {
  --width: 500px;
  --todo-bg: hsl(0 0% 98%);
  --todo-text: hsl(220 20% 14%);

  width: var(--width);
  background-color: hsl(0 0% 98%);
  border-radius: var(--radius-base);
  border: 1px solid var(--color-gray-90);
  box-shadow: 0 0 4px var(--shadow-1);
}

.toggle-all {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
}

.toggle-all + label {
  position: absolute;
  font-size: 0;
}

.toggle-all + label:before {
  content: '❯';
  display: block;
  padding: var(--spacing-16);
  font-size: var(--font-24);
  color: var(--color-gray-58);
  transform: rotate(90deg);
}

.toggle-all:checked + label:before {
  color: var(--color-gray-28);
}

.new-todo,
.edit {
  width: 100%;
  font-family: inherit;
  font-size: var(--font-24);
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  border: 1px solid #999;
  border-radius: var(--radius-base);
  box-shadow: inset 0 -1px 5px 0 var(--shadow-1);
}

.new-todo {
  padding: var(--spacing-16);
  padding-left: 60px;
  border: none;
  box-shadow: inset 0 -2px 1px var(--shadow-1);
}

.todo-list {
  list-style: none;
}

.todo-list .todo {
  font-size: var(--font-24);
  font-weight: 400;
  border-bottom: 1px solid #ededed;
}

.todo-list .todo:last-child {
  border-bottom: none;
}

.todo-list .editing .edit {
  width: 100%;
  display: block;
  padding: var(--spacing-8);
}

.todo-list .editing .view {
  display: none;
}

.todo-list .view {
  position: relative;
}

.todo-list .toggle {
  position: absolute;
  top: 24px;
  left: 16px;
  transform: scale(2);
}

.todo-list .toggle {
  opacity: 0;
}

.todo-list .toggle + label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
}

.todo-list .toggle:checked + label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E');
}

.todo-list .todo label {
  display: block;
  padding: var(--spacing-16);
  padding-left: 60px;
  color: var(--color-gray-28);
  transition: color 0.4s;
}

.todo-list .completed label {
  color: var(--color-gray-58);
  text-decoration: line-through;
}

.todo-list .remove {
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto 0;
  font-size: var(--font-32);
  color: var(--color-gray-58);
  transition: color 0.2s ease-out;
}

.todo-list .remove:hover,
.todo-list .remove:focus {
  color: #c18585;
}

.todo-list .remove:after {
  content: '×';
}

.todo-list .todo:hover .remove {
  display: block;
}

.todo-list .edit {
  /* display: none; */
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: 0.9rem;
  border-top: 1px solid var(--color-gray-90);
}

footer:before {
  content: '';
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.2), 0 8px 0 -3px hsl(0, 0%, 96%),
    0 9px 1px -3px hsla(0, 0%, 0%, 0.2), 0 16px 0 -6px hsl(0, 0%, 96%),
    0 17px 2px -6px hsla(0, 0%, 0%, 0.2);
  z-index: -1;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
  border: 0;
  cursor: pointer;
}

.filters {
  display: flex;
  gap: var(--spacing-4);
  list-style: none;
}

.filter {
  padding: var(--spacing-4) var(--spacing-8);
  border: 1px solid transparent;
  border-radius: var(--radius-base);
}

.filter:hover {
  border: 1px solid var(--color-highlight);
}

.selected {
  border-color: var(--color-highlight);
}

.hidden {
  visibility: hidden;
}

:focus,
.toggle:focus + label,
.toggle-all:focus + label {
  box-shadow: 0 0 2px 2px var(--color-highlight);
  outline: 0;
}
